{% extends "admin/layout.html" %}

{% set page_title = "Configuration" %}

{% block content %}
	<div class="col-xs-12">
		<div class="panel panel-info">
			<div class="panel-heading">Bitcoin addresses</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-xs-6">
						<form method="post" action="/admin/config/withdraw_address" class="form">
							<div class="form-group">
								<label>Withdraw address</label>
								<i>(for fulfilling withdraw requests)</i>
								<input type="text" name="address" placeholder="Current: {{ withdraw_address if withdraw_address else 'empty' }}" class="form-control">
							</div>
							<div class="form-group">
								<label>Private key</label>
								<input type="text" name="key" placeholder="Current: {{ 'encrypted' if withdraw_address else 'empty' }}" class="form-control">
							</div>
							<div class="text-right">
								<input type="submit" value="Change" class="btn btn-primary">
							</div>
						</form>
					</div>

					<div class="col-xs-6">
						<form method="post" action="/admin/config/deposit_address" class="form">
							<div class="form-group">
								<label>Deposit address</label>
								<i>(deposited coins arrive here)</i>
								<input type="text" name="address" placeholder="Current: {{ deposit_address if deposit_address else 'empty' }}" class="form-control">
							</div>
							<div class="text-right">
								<input type="submit" value="Change" class="btn btn-primary">
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

		<div class="panel panel-info">
			<div class="panel-heading">Withdraw limits</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-6">
						<div class="row">
							<div class="col-xs-12">
								<form method="post" action="/admin/config/withdraw_min" class="form-inline">
									<label>Minimum withdraw amount</label><br>
									<div class="input-group">
										<div class="input-group-addon"><i class="fa fa-btc"></i></div>
										<input type="text" name="limit" placeholder="Current: {{ withdraw_min/100000000 ~ ' BTC' if withdraw_min else 'no limit' }}" class="form-control" size="30">
									</div>
									<input type="submit" value="Change" class="btn btn-primary">
								</form>
							</div>
						</div>
						<br>
						<div class="row">
							<div class="col-xs-12">
								<form method="post" action="/admin/config/withdraw_max" class="form-inline">
									<label>Maximum withdraw amount</label><br>
									<div class="input-group">
										<div class="input-group-addon"><i class="fa fa-btc"></i></div>
										<input type="text" name="limit" placeholder="Current: {{ withdraw_max/100000000 ~ ' BTC' if withdraw_max else 'no limit' }}" class="form-control" size="30">
									</div>
									<input type="submit" value="Change" class="btn btn-primary">
								</form>
							</div>
						</div>
					</div>

					<div class="col-md-6">
						<div class="col-xs-12">
							<form method="post" action="/admin/config/withdraw_per_day" class="form-inline">
								<label>Daily withdraw amount processed automatically</label><br>
								<div class="input-group">
									<div class="input-group-addon"><i class="fa fa-btc"></i></div>
									<input type="text" name="limit" placeholder="Current: {{ withdraw_per_day/100000000 ~ ' BTC' if withdraw_per_day else 'no limit' }}" class="form-control" size="30">
								</div>
								<input type="submit" value="Change" class="btn btn-primary">
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}