hr {
	border-color: #ddd;
}

.details-table {
	width: 100%;
}

.details-table td {
	padding-top: 8px;
	padding-bottom: 8px;
}

.details-table tr {
	border-top: 1px solid #ddd;
}

.details-table tr:first-child {
	border: 0;
}