{% extends "layout.html" %}

{% block title %}Reset password{% endblock %}

{% block content %}
	<div class="container content">
		<h2 class="text-center">Create a new password</h2>
		<br>
		<div class="row">
			<div class="col-sm-4 col-sm-offset-4">
				<form method="post" action="">
					{% if form_error %}<div class="alert alert-danger">{{ form_error }}</div>{% endif %}
					<div class="form-group">
						<label for="password-input">New password:</label>
						<input type="password" name="password" id="password-input" class="form-control" placeholder="Password"{% if form_password %} value="{{ form_password }}"{% endif %}>
					</div>
					<div class="form-group">
						<label for="password2-input">Repeat password:</label>
						<input type="password" name="password2" id="password2-input" class="form-control" placeholder="Password"{% if form_password2 %} value="{{ form_password2 }}"{% endif %}>
					</div>
					<div class="clearfix">
						<input type="submit" value="Submit" class="btn btn-success pull-right">
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}